<footer>
  <div class="footer-bottom">
    <div class="footer-content">
      <div class="footer-item">
        <span class="footer-text"> For any questions please email <br /> </span>
      </div>

      <div class="footer-item">
        <span class="footer-text">
          Visit My
          <a
            class="footer-link"
            href="https://trains-iota.vercel.app/"
            target="_blank"
            >website</a
          >
        </span>
        <div class="footer-icons">
          <a
            class="footer-icon"
            href="https://www.facebook.com/luka.noniashvili"
            target="_blank"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a
            class="footer-icon"
            href="https://www.linkedin.com/in/luka-noniashvili-9ab986360/"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>

      <div class="footer-item">
        <span class="footer-text">
          500 Terry Francine Street <br />
          San Francisco, CA 94158
        </span>
      </div>
    </div>

    <div class="footer-divider"></div>
    <span class="footer-copy">© Powered and secured by Luka Noniashvili</span>
  </div>
</footer>
