<div id="home-section" class="home-section">
  <div class="promotions-div">
    <button class="promotions-btn" [routerLink]="'/promotions'">
      Promotions
    </button>
  </div>
  <h2 class="section-title">Simple Home</h2>

  <div class="cards-container">
    <div class="card">
      <img
        class="card-image"
        src="https://media.istockphoto.com/id/2166802740/photo/confident-businessman-smiling-in-sunlit-urban-environment.webp?a=1&b=1&s=612x612&w=0&k=20&c=e__SfARZdjjTvtDsGfmDDsL14GUwTCgstLZVMTqb1L4="
        alt="first-speaker"
      />
      <div class="card-content">
        <h6 class="card-title">Jay Corvi</h6>
        <span class="card-subtitle">
          Head Of Digital Marketing at <br />
          Buzzthrought
        </span>
      </div>
    </div>

    <div class="card">
      <img
        class="card-image"
        src="https://media.istockphoto.com/id/2157039811/photo/woman-on-a-couch-at-home-during-coronavirus-quarantine.jpg?s=612x612&w=0&k=20&c=YwohsZTFnlCrrhF0zesEg0-aNrAurvoYNvuwi0D9tCA="
        alt="second-speaker"
      />
      <div class="card-content">
        <h6 class="card-title">Harlow Beck</h6>
        <span class="card-subtitle">
          Senior Marketing Strategist at <br />
          Volve
        </span>
      </div>
    </div>

    <div class="card">
      <img
        class="card-image"
        src="https://media.istockphoto.com/id/1731264471/photo/portrait-of-a-factory-worker-wearing-safety-vest.jpg?s=612x612&w=0&k=20&c=wUd7cjk3IWlEGuD19XB4fu_N0oDcqmoaWdhKd1-6W7Y="
        alt="third-speaker"
      />
      <div class="card-content">
        <h6 class="card-title">Tony Selby</h6>
        <span class="card-subtitle">Business Analyst at Targo</span>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>

<div id="learning-section" class="learning-section">
  <h2 class="section-title">What You Will Learn</h2>

  <div class="learning-cards">
    <div class="learning-card">
      <h4 class="learning-symbol">&gt;</h4>
      <h5 class="learning-number">01</h5>
      <p class="learning-text">
        Branding strategies in <br />
        the age of the <br />
        metaverse
      </p>
    </div>

    <div class="learning-card">
      <h4 class="learning-symbol">&gt;</h4>
      <h5 class="learning-number">02</h5>
      <p class="learning-text">
        How to use VR and <br />
        AR technology to <br />
        generate sales
      </p>
    </div>

    <div class="learning-card">
      <h4 class="learning-symbol">&gt;</h4>
      <h5 class="learning-number">03</h5>
      <p class="learning-text">
        Tips and tricks for the <br />
        latest digital platforms
      </p>
    </div>
  </div>
</div>

<div class="divider"></div>
